.favorite-card>a{
    text-decoration: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.favorite-items{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 26px;
}
a >div{
    padding: 10px;
}
.city{
    font-size: 30px;
    padding-bottom: 15px;
}
.temperature{
    padding-bottom: 10px;
    color: grey;
}
.status{
    color: #282c34;
    font-size: 20px;
}

